.ui-jqgrid tr.jqgrow td {
	white-space: normal !important;
	padding-top:2px;
	padding-left:2px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height:auto;
	overflow:hidden;
	padding-right:4px;
	padding-top:2px;
	position:relative;
	vertical-align:text-top;
	white-space:normal !important;
}
.red {
	border-color:red !important;
}

.green{
	border-color:green !important;
}

.change-background-color {
	background: #FFFFCC !important;
}

.custom-input{
	height:20px;
	vertical-align:middle;
}

.select2-search-choice-close {
  background: none !important;
}

.select2-container .select2-choice {
    background-color: #fff;
    background-image: none !important;
    filter: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.select2-container .select2-choice div {
    background-image: none !important;
    background: #fff !important;
}

.ui-corner-all {
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

.ui-corner-top {
	-moz-border-radius-topleft: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.ui-widget {
	font-family: sans-serif, Arial, Lucida Grande, Lucida Sans;
	font-size: 11px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #ADCEDA;
	background: #E5EDF2;
	color: #363636;
}